---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  'jekyll_defaults/base',
  'jekyll_defaults/layout',
  'jekyll_defaults/syntax-highlighting'
;

// inuitcss

/* Set variables */
$inuit-enable-btn--small:                      true;
$inuit-enable-btn--large:                      true;
$inuit-enable-btn--full:                       true;
$inuit-enable-btn--pill:                       true;

$wgc-enable-layout--flush:                     true;
$wgc-enable-layout--gutter-one-quarter-bsu:    true;
$wgc-enable-layout--gutter-one-half-bsu:       true;
$wgc-enable-layout--gutter-one-bsu:            true;
$wgc-enable-layout--gutter-two-bsu:            true;
$wgc-enable-layout--gutter-four-bsu:           true;
$wgc-enable-layout--center:                    true;

$wgc-enable-paddings--one-quarter-bsu:         true;
$wgc-enable-paddings--one-half-bsu:            true;
$wgc-enable-paddings--one-bsu:                 true;
$wgc-enable-paddings--two-bsu:                 true;
$wgc-enable-paddings--four-bsu:                true;
$wgc-enable-paddings--none:                    true;

$wgc-enable-margins--one-quarter-bsu:          true;
$wgc-enable-margins--one-half-bsu:             true;
$wgc-enable-margins--one-bsu:                  true;
$wgc-enable-margins--two-bsu:                  true;
$wgc-enable-margins--four-bsu:                 true;
$wgc-enable-margins--none:                     true;
$wgc-enable-negative-margins--one-quarter-bsu: true;
$wgc-enable-negative-margins--one-half-bsu:    true;
$wgc-enable-negative-margins--one-bsu:         true;
$wgc-enable-negative-margins--two-bsu:         true;
$wgc-enable-negative-margins--four-bsu:        true;

$wgc-breakpoints: (
  ""               "screen and (min-width: 0em)",
  "lap-and-up-"    "screen and (min-width: 45em)",
);

/* Import desired files */
@import
  'inuitcss/settings.defaults',
  'inuitcss/tools.mixins',
  'inuitcss/tools.functions',
  'inuitcss/generic.normalize',
  'inuitcss/generic.box-sizing',
  'inuitcss/base.headings',
  'inuitcss/objects.buttons',
  'inuitcss/trumps.clearfix',

  'wgc/wgc_config',

  'wgc/css_wizardy/generic.shared',
  'wgc/css_wizardy/base.forms',
  'wgc/css_wizardy/objects.flyout',

  'wgc/modified_inuit_css/breakpoints',
  'wgc/modified_inuit_css/layout_groups',
  'wgc/modified_inuit_css/columns',
  'wgc/modified_inuit_css/box_model',

  'wgc/wgc_add_ons/layout_helpers',
  'wgc/wgc_add_ons/borders',
  'wgc/wgc_add_ons/colors',
  'wgc/wgc_add_ons/typography',
  'wgc/wgc_add_ons/lists'
;

// site specific

@import 'site_specific/site_specific.scss';
