/*                              *\
  Set vanilla inuitcss variables
\*                              */

$inuit-enable-btn--small: true;
$inuit-enable-btn--large: true;
$inuit-enable-btn--full:  true;
$inuit-enable-btn--pill:  true;

/*                         *\
  Set wegotcoders variables
\*                         */

$wgc-breakpoints: (
  (
    breakpoint-scope:     'palm',
    breakpoint-condition: 'screen and (max-width: 44.9375em)'
  ),
  (
    breakpoint-scope:     'lap-and-up',
    breakpoint-condition: 'screen and (min-width: 45em)'
  ),
  (
    breakpoint-scope:     'desk',
    breakpoint-condition: 'screen and (min-width: 64em)'
  )
);

$main-breakpoints: ('palm', 'lap-and-up', 'desk');

$wgc-allowed-breakpoints-for-guttering-option--flush:           $main-breakpoints;
$wgc-allowed-breakpoints-for-guttering-option--one-quarter-bsu: $main-breakpoints;
$wgc-allowed-breakpoints-for-guttering-option--one-half-bsu:    ('lap-and-up');
$wgc-allowed-breakpoints-for-guttering-option--one-bsu:         $main-breakpoints;
$wgc-allowed-breakpoints-for-guttering-option--two-bsu:         $main-breakpoints;
$wgc-allowed-breakpoints-for-guttering-option--four-bsu:        ('desk');

$wgc-allowed-breakpoints-for-column-group-wholes:               $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-halves:               $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-thirds:               $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-quarters:             $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-fifths:               $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-sixths:               $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-sevenths:             ('palm', 'lap-and-up');
$wgc-allowed-breakpoints-for-column-group-eighths:              $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-ninths:               $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-tenths:               $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-elevenths:            $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-twelfths:             $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-thirteenths:          $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-fourteenths:          $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-fifteenths:           $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-sixteenths:           $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-seventeenths:         $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-eighteenths:          $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-nineteenths:          $main-breakpoints;
$wgc-allowed-breakpoints-for-column-group-twentieths:           ('palm');

$wgc-allowed-breakpoints-for-paddings--none:                    $main-breakpoints;
$wgc-allowed-breakpoints-for-paddings--one-quarter-bsu:         ('lap-and-up');
$wgc-allowed-breakpoints-for-paddings--one-half-bsu:            $main-breakpoints;
$wgc-allowed-breakpoints-for-paddings--one-bsu:                 $main-breakpoints;
$wgc-allowed-breakpoints-for-paddings--two-bsu:                 $main-breakpoints;
$wgc-allowed-breakpoints-for-paddings--four-bsu:                $main-breakpoints;
$wgc-allowed-breakpoints-for-margins--none:                     $main-breakpoints;
$wgc-allowed-breakpoints-for-margins--one-quarter-bsu:          $main-breakpoints;
$wgc-allowed-breakpoints-for-margins--one-half-bsu:             $main-breakpoints;
$wgc-allowed-breakpoints-for-margins--one-bsu:                  $main-breakpoints;
$wgc-allowed-breakpoints-for-margins--two-bsu:                  $main-breakpoints;
$wgc-allowed-breakpoints-for-margins--four-bsu:                 $main-breakpoints;
$wgc-allowed-breakpoints-for-negative-margins--one-quarter-bsu: $main-breakpoints;
$wgc-allowed-breakpoints-for-negative-margins--one-half-bsu:    $main-breakpoints;
$wgc-allowed-breakpoints-for-negative-margins--one-bsu:         $main-breakpoints;
$wgc-allowed-breakpoints-for-negative-margins--two-bsu:         $main-breakpoints;
$wgc-allowed-breakpoints-for-negative-margins--four-bsu:        $main-breakpoints;

$wgc-allowed-breakpoints-for-layout-helpers:                    $main-breakpoints;
$wgc-allowed-breakpoints-for-colours:                           $main-breakpoints;
$wgc-allowed-breakpoints-for-borders:                           $main-breakpoints;
$wgc-allowed-breakpoints-for-lists:                             $main-breakpoints;
$wgc-allowed-breakpoints-for-typography:                        $main-breakpoints;

/*                               *\
  Import vanilla inuitcss modules
\*                               */

@import
  'inuitcss/inuit-defaults/settings.defaults',
  'inuitcss/inuit-mixins/tools.mixins',
  'inuitcss/inuit-functions/tools.functions',
  'inuitcss/inuit-normalize/generic.normalize',
  'inuitcss/inuit-box-sizing/generic.box-sizing',
  'inuitcss/inuit-list-inline/objects.list-inline',
  'inuitcss/inuit-buttons/objects.buttons',
  'inuitcss/inuit-clearfix/trumps.clearfix'
;

/*                          *\
  Import css_wizardy modules
\*                          */

@import
  'css_wizardy/generic.shared',
  'css_wizardy/base.forms',
  'css_wizardy/objects.flyout'
;

/*                          *\
  Import wegotcoders modules
\*                          */

/* The order here:
  'wegotcoders/wgc_config',

  'wegotcoders/modified_inuit_css/breakpoints',
  'wegotcoders/modified_inuit_css/functions',

  is crucial!
*/

@import
  'wegotcoders/wgc_config',

  'wegotcoders/modified_inuit_css/breakpoints',
  'wegotcoders/modified_inuit_css/functions',
  'wegotcoders/modified_inuit_css/layout_groups',
  'wegotcoders/modified_inuit_css/columns',
  'wegotcoders/modified_inuit_css/box_model',

  'wegotcoders/wgc_add_ons/layout_helpers',
  'wegotcoders/wgc_add_ons/borders',
  'wegotcoders/wgc_add_ons/colours',
  'wegotcoders/wgc_add_ons/lists',
  'wegotcoders/wgc_add_ons/typography'
;
