<header class="wgc__background-color--black wgc__layout-group--flush">
  <div class="wgc__logo wgc__layout__item wgc__column-width--one-third wgc__vertical-align--middle wgc__margin-left--one-bsu"></div><!--
  --><h1 class="wgc__layout__item wgc__column-width--one-third wgc__vertical-align--middle">
    <a class="wgc__text-decoration--none wgc__text-color--white wgc__paddings-all--one-half-bsu wgc__border-color--white wgc__border-style--solid" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </h1>
</header>
