<header class="wgc__lap-and-up-background-color--black wgc__lap-and-up-layout-group__container--flush">
  <div class="wgc__logo wgc__layout-group__member wgc__lap-and-up-column-width--one-third wgc__lap-and-up-vertical-align--middle wgc__lap-and-up-margin-left--one-bsu"></div><!--
  --><h1 class="wgc__layout-group__member wgc__lap-and-up-column-width--one-third wgc__lap-and-up-vertical-align--middle">
    <a class="wgc__lap-and-up-text-decoration--none wgc__lap-and-up-text-color--white wgc__lap-and-up-paddings-all--one-half-bsu wgc__lap-and-up-border-color--white wgc__lap-and-up-border-style--solid" href="{{ site.baseurl | site.github.baseurl }}/">{{ site.title }}</a>
  </h1>
</header>
