.wgc__logo {
  background-image: url('../../inuit-rails/images/WEGOTCODERS_color.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 45px;
}

.site_specific__hover-link {
  &:hover {
    color: blue;
    text-decoration: underline;
  }
}

figure {
  margin: 0;
}
