@mixin wgc-generate-spacing() {
	@each $wgc-breakpoint in $wgc-breakpoints {

		$wgc-generate-spacing-alias:      nth($wgc-breakpoint, 1) !global;
		$wgc-generate-spacing-condition:  nth($wgc-breakpoint, 2);

		@if ($wgc-generate-spacing-alias != "retina") {
			@include wgc-media-query($wgc-generate-spacing-alias) {
				@content;
			}
		}

		$wgc-generate-spacing-alias: null !global;
	}
}

@if ($wgc-enable-margins--one-quarter-bsu == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-all--one-quarter-bsu                { margin:           quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-top--one-quarter-bsu                 { margin-top:       quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-right--one-quarter-bsu               { margin-right:     quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-bottom--one-quarter-bsu              { margin-bottom:    quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-left--one-quarter-bsu                { margin-left:      quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-horizontal--one-quarter-bsu         { margin-right:     quarter($wgc-bsu) !important;     margin-left:   quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-vertical--one-quarter-bsu           { margin-top:       quarter($wgc-bsu) !important;     margin-bottom: quarter($wgc-bsu) !important; }
  }
}

@if ($wgc-enable-margins--one-half-bsu == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-all--one-half-bsu                   { margin:           halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-top--one-half-bsu                    { margin-top:       halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-right--one-half-bsu                  { margin-right:     halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-bottom--one-half-bsu                 { margin-bottom:    halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-left--one-half-bsu                   { margin-left:      halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-horizontal--one-half-bsu            { margin-right:     halve($wgc-bsu) !important;       margin-left:   halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-vertical--one-half-bsu              { margin-top:       halve($wgc-bsu) !important;       margin-bottom: halve($wgc-bsu) !important; }
  }
}

@if ($wgc-enable-margins--one-bsu == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-all--one-bsu                        { margin:           $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-top--one-bsu                         { margin-top:       $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-right--one-bsu                       { margin-right:     $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-bottom--one-bsu                      { margin-bottom:    $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-left--one-bsu                        { margin-left:      $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-horizontal--one-bsu                 { margin-right:     $wgc-bsu !important;              margin-left:   $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-vertical--one-bsu                   { margin-top:       $wgc-bsu !important;              margin-bottom: $wgc-bsu !important; }
  }
}

@if ($wgc-enable-margins--two-bsu == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-all--two-bsu                        { margin:           double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-top--two-bsu                         { margin-top:       double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-right--two-bsu                       { margin-right:     double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-bottom--two-bsu                      { margin-bottom:    double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-left--two-bsu                        { margin-left:      double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-horizontal--two-bsu                 { margin-right:     double($wgc-bsu) !important;      margin-left:   double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-vertical--two-bsu                   { margin-top:       double($wgc-bsu) !important;      margin-bottom: double($wgc-bsu) !important; }
  }
}

@if ($wgc-enable-margins--four-bsu == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-all--four-bsu                       { margin:           quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-top--four-bsu                        { margin-top:       quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-right--four-bsu                      { margin-right:     quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-bottom--four-bsu                     { margin-bottom:    quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-left--four-bsu                       { margin-left:      quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-horizontal--four-bsu                { margin-right:     quadruple($wgc-bsu) !important;   margin-left:   quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-vertical--four-bsu                  { margin-top:       quadruple($wgc-bsu) !important;   margin-bottom: quadruple($wgc-bsu) !important; }
  }
}

@if ($wgc-enable-margins--none == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-all--none                           { margin:           0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-top--none                            { margin-top:       0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-right--none                          { margin-right:     0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-bottom--none                         { margin-bottom:    0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margin-left--none                           { margin-left:      0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-horizontal--none                    { margin-right:     0 !important;                     margin-left:   0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}margins-vertical--none                      { margin-top:       0 !important;                     margin-bottom: 0 !important; }
  }
}

@if ($wgc-enable-negative-margins--one-quarter-bsu == true) {
  @include wgc-generate-spacing() {
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-all--one-quarter-bsu          { margin:           quarter(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-top--one-quarter-bsu           { margin-top:       quarter(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-right--one-quarter-bsu         { margin-right:     quarter(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-bottom--one-quarter-bsu        { margin-bottom:    quarter(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-left--one-quarter-bsu          { margin-left:      quarter(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-horizontal--one-quarter-bsu   { margin-right:     quarter(-$wgc-bsu) !important;   margin-left:   quarter(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-vertical--one-quarter-bsu     { margin-top:       quarter(-$wgc-bsu) !important;   margin-bottom: quarter(-$wgc-bsu) !important; }
  }
}

@if ($wgc-enable-negative-margins--one-bsu == true) {
  @include wgc-generate-spacing() {
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-all--one-bsu                  { margin:           -$wgc-bsu !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-top--one-bsu                   { margin-top:       -$wgc-bsu !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-right--one-bsu                 { margin-right:     -$wgc-bsu !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-bottom--one-bsu                { margin-bottom:    -$wgc-bsu !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-left--one-bsu                  { margin-left:      -$wgc-bsu !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-horizontal--one-bsu           { margin-right:     -$wgc-bsu !important;            margin-left:   -$wgc-bsu !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-vertical--one-bsu             { margin-top:       -$wgc-bsu !important;            margin-bottom: -$wgc-bsu !important; }
  }
}

@if ($wgc-enable-negative-margins--one-half-bsu == true) {
  @include wgc-generate-spacing() {
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-all--one-half-bsu             { margin:           halve(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-top--one-half-bsu              { margin-top:       halve(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-right--one-half-bsu            { margin-right:     halve(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-bottom--one-half-bsu           { margin-bottom:    halve(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-left--one-half-bsu             { margin-left:      halve(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-horizontal--one-half-bsu      { margin-right:     halve(-$wgc-bsu) !important;     margin-left:   halve(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-vertical--one-half-bsu        { margin-top:       halve(-$wgc-bsu) !important;     margin-bottom: halve(-$wgc-bsu) !important; }
  }
}

@if ($wgc-enable-negative-margins--two-bsu == true) {
  @include wgc-generate-spacing() {
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-all--two-bsu                  { margin:           double(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-top--two-bsu                   { margin-top:       double(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-right--two-bsu                 { margin-right:     double(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-bottom--two-bsu                { margin-bottom:    double(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-left--two-bsu                  { margin-left:      double(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-horizontal--two-bsu           { margin-right:     double(-$wgc-bsu) !important;    margin-left:   double(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-vertical--two-bsu             { margin-top:       double(-$wgc-bsu) !important;    margin-bottom: double(-$wgc-bsu) !important; }
  }
}

@if ($wgc-enable-negative-margins--four-bsu == true) {
  @include wgc-generate-spacing() {
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-all--four-bsu                 { margin:           quadruple(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-top--four-bsu                  { margin-top:       quadruple(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-right--four-bsu                { margin-right:     quadruple(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-bottom--four-bsu               { margin-bottom:    quadruple(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margin-left--four-bsu                 { margin-left:      quadruple(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-horizontal--four-bsu          { margin-right:     quadruple(-$wgc-bsu) !important; margin-left:   quadruple(-$wgc-bsu) !important; }
  .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}negative-margins-vertical--four-bsu            { margin-top:       quadruple(-$wgc-bsu) !important; margin-bottom: quadruple(-$wgc-bsu) !important; }
  }
}

@if ($wgc-enable-paddings--one-quarter-bsu == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-all--one-quarter-bsu                { padding:           quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-top--one-quarter-bsu                 { padding-top:       quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-right--one-quarter-bsu               { padding-right:     quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-bottom--one-quarter-bsu              { padding-bottom:    quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-left--one-quarter-bsu                { padding-left:      quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-horizontal--one-quarter-bsu         { padding-right:     quarter($wgc-bsu) !important;     padding-left:   quarter($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-vertical--one-quarter-bsu           { padding-top:       quarter($wgc-bsu) !important;     padding-bottom: quarter($wgc-bsu) !important; }
  }
}

@if ($wgc-enable-paddings--one-half-bsu == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-all--one-half-bsu                   { padding:           halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-top--one-half-bsu                    { padding-top:       halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-right--one-half-bsu                  { padding-right:     halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-bottom--one-half-bsu                 { padding-bottom:    halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-left--one-half-bsu                   { padding-left:      halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-horizontal--one-half-bsu            { padding-right:     halve($wgc-bsu) !important;       padding-left:   halve($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-vertical--one-half-bsu              { padding-top:       halve($wgc-bsu) !important;       padding-bottom: halve($wgc-bsu) !important; }
  }
}

@if ($wgc-enable-paddings--one-bsu == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-all--one-bsu                        { padding:           $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-top--one-bsu                         { padding-top:       $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-right--one-bsu                       { padding-right:     $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-bottom--one-bsu                      { padding-bottom:    $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-left--one-bsu                        { padding-left:      $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-horizontal--one-bsu                 { padding-right:     $wgc-bsu !important;              padding-left:   $wgc-bsu !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-vertical--one-bsu                   { padding-top:       $wgc-bsu !important;              padding-bottom: $wgc-bsu !important; }
  }
}

@if ($wgc-enable-paddings--two-bsu == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-all--two-bsu                        { padding:           double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-top--two-bsu                         { padding-top:       double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-right--two-bsu                       { padding-right:     double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-bottom--two-bsu                      { padding-bottom:    double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-left--two-bsu                        { padding-left:      double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-horizontal--two-bsu                 { padding-right:     double($wgc-bsu) !important;      padding-left:   double($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-vertical--two-bsu                   { padding-top:       double($wgc-bsu) !important;      padding-bottom: double($wgc-bsu) !important; }
  }
}

@if ($wgc-enable-paddings--four-bsu == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-all--four-bsu                       { padding:           quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-top--four-bsu                        { padding-top:       quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-right--four-bsu                      { padding-right:     quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-bottom--four-bsu                     { padding-bottom:    quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-left--four-bsu                       { padding-left:      quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-horizontal--four-bsu                { padding-right:     quadruple($wgc-bsu) !important;   padding-left:   quadruple($wgc-bsu) !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-vertical--four-bsu                  { padding-top:       quadruple($wgc-bsu) !important;   padding-bottom: quadruple($wgc-bsu) !important; }
  }
}

@if ($wgc-enable-paddings--none == true) {
  @include wgc-generate-spacing() {
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-all--none                           { padding:           0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-top--none                            { padding-top:       0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-right--none                          { padding-right:     0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-bottom--none                         { padding-bottom:    0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}padding-left--none                           { padding-left:      0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-horizontal--none                    { padding-right:     0 !important;                     padding-left:   0 !important; }
    .#{$wgc-namespace}__#{$wgc-generate-spacing-alias}paddings-vertical--none                      { padding-top:       0 !important;                     padding-bottom: 0 !important; }
  }
}
