<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="wgc__layout-group--gutter-two-bsu">
      <nav class="wgc__column-width--one-fifth wgc__layout__item wgc__margin-top--two-bsu wgc__vertical-align--top">
        <ul class="wgc__list-style--none">
          {% for lesson in site.lessons %}
            <h3>
              <li>
                <a class="wgc__text-decoration--none wgc__text-color--black site_specific__hover-link" href="{{ site.baseurl | site.github.baseurl }}{{ lesson.url }}">{{ lesson.title }}</a>
              </li>
            </h3>
          {% endfor %}
        </ul>
      </nav>

      <article class="wgc__column-width--three-fifths wgc__margin-top--two-bsu wgc__layout__item">
        {{ content }}
      </article>
    </main>
  </body>
</html>
